### Q1
List the basic data types in python and give one example each.

### Data Types  
string - 'Amanda'  
float - 5.4  
integer - 4  
boolean - True

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [3]:
x = 4539.85
y = str(x)
type(y)

str

In [4]:
z = int(x)
type(z)

int

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

a - float  
b - integer  
c - string  
d - float  
e - integer  
f - float  
g - bool  
i - string  
j - float  
k - integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [12]:
statement_1 = 'Thomas Partey is arguably the best player in the Black Stars'
statement_2 = 'He is a great addition to the team'
print('The length of statement_1 is', len(statement_1))
print('The length of statement_2 is', len(statement_2))

The length of statement_1 is 60
The length of statement_2 is 34

In [15]:
len(statement_1) > len(statement_2)

True

the length of statement_1 is greater than the length of statement_2

### Q5
What values does python use to represent **True** and **False** respectively?

True == bool(1)  
False == bool(0)

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

Q6.1

In [20]:
num_1 = 78
num_2 = 46
num_3 = 30
(num_1 > num_2) and (num_1 < num_2)
r = num_1 % 2 != 0
print(r)

True

 Q6.2

In [21]:
num_4 = 8-2
num_5 = 8
(num_4 % 2 == 0 ) or (num_5 % 2 != 0)

True

Q6.3

In [23]:
num_6 = len('boostrap')
num_7 = len('sample')
(num_6 == 7) and (num_7 == 6)

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [33]:
word='Hello, How are you?'

In [24]:
words = ['How', 'How are you', 'are', '?', 'Hello, How are you']
print(words)

['How', 'How are you', 'are', '?', 'Hello, How are you']

Option one

In [31]:
print(words[0])
print(words[1])
print(words[2])
print(words[3])
print(words[4])

How
How are you
are
?
Hello, How are you

Option two

In [38]:
b = word[7:10]
d = word[7:18]
t = word[11:14]
e = word[18:]
p = word[0:18]
print(b)
print(d)
print(t)
print(e)
print(p)

How
How are you
are
?
Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [29]:
sentence = 'I am very excited'
sentence_1 = sentence.upper()
sentence_2 = sentence.lower()
sentence_3 = sentence.title()
sentence_string = sentence.split()
print(sentence_1)
print(sentence_2)
print(sentence_3)
print(sentence_string)

I AM VERY EXCITED
i am very excited
I Am Very Excited
['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [42]:
word_1 = 'OneThirtyEight'

In [43]:
substring_1 = word_1[:3]
print(substring_1)
substring_2 = word_1[3:9]
print(substring_2)
substring_3 = word_1[9:]
print(substring_3)
substring_4 = word_1[:9]
print(substring_4)
substring_5 = word_1[3:]
print(substring_5)
new_word = word_1.upper()
print(new_word)

One
Thirty
Eight
OneThirty
ThirtyEight
ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [45]:
name = "Ault'Kelly"
type(name)

str