### Q1

Name the four built-in data structures in python. Give one example for each

1. Lists eg., list = [5,2,7,4,9]  
2. Tuples eg., tuple = ((3,2), (3.9))  
3. Sets eg., set = {"A", "B", "C"}  
4. Dictionaries eg., dict = {"A" : 2, "B" : 4, "C" : 6}

### Q2

State two differences between a list and a tuple in Python.

1. Lists use square brackets[ ] whereas tuples use parentheses().  
2. A list is mutable while a tuple is not.

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [5]:
animal_list = ["snake", "lion", "cat", "frog", "dog"]
print(animal_list[0:2])
print(animal_list[-2:])

['snake', 'lion']
['frog', 'dog']

In [6]:
animal_list.extend(["fish", "elephant", "giraffe"])

In [7]:
animal_list.remove("snake")
animal_list.remove("lion")

In [8]:
print(len(animal_list))

6

In [10]:
animal_set = set(animal_list)

In [11]:
print(len(animal_set))

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [12]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [13]:
first = suitcase[0:2]
middle = suitcase[2:4]
last = suitcase[-2:]

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [14]:
values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3, 35)
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

When you don't want changes to be made

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [15]:
region_capital = {"Greater Accra" : "Accra", "Ashanti" : "Kumasi", "Volta" : "Ho", "Eastern" : "Koforidua", "Oti" : "Dambai"}
print(region_capital.keys())
print(region_capital.values())

dict_keys(['Greater Accra', 'Ashanti', 'Volta', 'Eastern', 'Oti'])
dict_values(['Accra', 'Kumasi', 'Ho', 'Koforidua', 'Dambai'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [16]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
print(len(values))

15

In [17]:
def find_mode(data):
    counts = {}
    for i in data:
        if i in counts:
            counts[i] += 1
        else:
            counts[i] = 1
            
    max_count = max(counts.values(), default=0)
    modes = [key for key, value in counts.items() if value == max_count]
    return modes

In [18]:
find_mode(values)

[3, 4, 5, 6]

In [19]:
values_set = set(values)
print(len(values_set))

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [20]:
num_square = {}
for i in range(1, 16):
    num_square[i] = i ** 2

In [21]:
print(num_square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [22]:
xyz = {"x" : list(range(11, 21)), "y" : list(range(21, 31)), "z" : list(range(31, 41))}

In [23]:
xyz

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}

In [24]:
print(xyz["x"][4])
print(xyz["y"][4])
print(xyz["z"][4])

15
25
35